/*Whole Syle*/

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	cursor: pointer;
}

/*Master Style*/

header{
	background-color: transparent;
}

footer{
	background-color: transparent;
}

div {
	border: thin dotted gray;
}

nav {
	height: 76px;
	font-size: 32pt;
	color: #9B5151;
	font-style: italic;
	padding-top: 3.2px;
}

article{
	line-height: 2.1;
	border: 2px solid black;
	padding: 4px;
	border-radius: 10px;
	margin: 0 auto;
	box-sizing: border-box;
}

h4{
		color: black;
	}

/*Flexbox container style*/

#container{
	display: flex;
	/* properti */
	width: 100%;
	background-color: #FF15;
	border: 2px solid black;
	padding: 4px;
	border-radius: 10px;
	margin: 0 auto;
	box-sizing: border-box;
	cursor: pointer;
	max-height: auto;
	min-width: 570px;
}

#box{
	flex-grow: 1;
    /* properti */
    background-color: #FBDD1C;
    margin: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

/*Pengaturan Style untuk header*/

.header-container{
	display: flex;
	width: 100%;
	height: 88px;
	background-color: #e6aF00;
}

.header-style{
	padding: 1px;
	position: relative;
}

/*Pengaturan style untuk main content*/

@media screen  and (max-height: 789px){
	.main-container{
		display: flex;
		width: 100%;
		min-height:669px;
		max-height: auto;
		background-color: #e6aF00;
		position: relative;
	}
}

@media screen  and (max-width: 1274px){
	.main-container{
		display: flex;
		width: 100%;
		min-height:800px;
		max-height: auto;
		background-color: #e6aF00;
		position: relative;
	}
}

@media screen  and (max-width: 815px){
	.main-container{
		display: flex;
		width: 100%;
		min-height:1000px;
		max-height: auto;
		background-color: #e6aF00;
		position: relative;
	}
}

.main-style{
	position:relative; 
}

.content-style{
	position: relative;
	padding: 1px;
}

.interest-style{
	padding: 3.2px;
	position: relative;
	background-color: #9B5151;
	border: 2px solid black;
	padding: 4px;
	border-radius: 10px;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
}

.skill-style{
	padding: 3.2px;
	position: relative;
	background-color: #9B5151;
	border: 2px solid black;
	padding: 4px;
	border-radius: 10px;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
}

.contact-style{
	padding: 3.2px;
	position: relative;
	background-color: #9B5151;
	border: 2px solid black;
	border-radius: 10px;
	margin: 0 auto;
	box-sizing: border-box;
	width: 100%;
}

.preview-style{
	padding: 11px;
	position: relative;
}

/*Style Ega (Enthusast - Geeks - Adventurer)*/
@media screen  and (min-width: 1000px){
	.a{
		color: blue;
		width: 36%;
		float: left;
		text-shadow: 4px 4px 3px #77f;
	}

	.b {
		color: red;
		width: 32%;
		float: left;
		text-shadow: 4px 4px 3px #80e;
	}

	.c {
		color: gray;
		width: 32%;
		float: right;
		text-shadow: 4px 4px 3px #88d;
	}
}

/*Pengaturan Grid unuk daftar interest*/
.interest1{
	width: 26%;
	position: relative;
}

.interest2{
	width: 26%;
	position: relative;
}

.interest3{
	width: 26%;
	position: relative;
}

/*Pengaturan Grid unuk daftar skill*/
.skill1{
	width: 10%;
	position: relative;

}

.skill2{
	width: 10%;
	position: relative;
}

.skill3{
	width: 10%;
	position: relative;
}
.skill4{
	width: 10%;
	position: relative;
}

.skill5{
	width: 10%;
	position: relative;
}

.skill6{
	width: 10%;
	position: relative;
}
.skill7{
	width: 10%;
	position: relative;
}

.skill8{
	width: 10%;
	position: relative;
}

@media screen  and (max-width: 1020px){
	.image-skill{
		width: 32px;
		height: 32px;
	}

}

/* Pengaturan grid untuk contact */

.contact1{
	width: 20%;
	position: relative;
}

.contact2{
	width: 20%;
	position: relative;
}

.contact3{
	width: 20%;
	position: relative;
}

.first-article::first-letter{
	font-size: 32px;
	font-weight: bold;
	color: saddlebrown;
	position: relative;

}

/*Pengaturan Style untuk Photo Profile*/

#main{
	width: 100%;
	height: auto;
	position: relative;
}

#content{
	width: 68%;
	height: 600px;
	float: left;
	position: relative;
}

#preview{
	width: 32%;
	height: 600px;
	float: right;
	display: flex;
	background-color: #e6aF00;
	border-radius: 10px;
	margin: 0 auto;
	box-sizing: border-box;
	position: relative;
}

#fig{
	font-family: 'Marck Script', cursive;
	font-size: 21pt;
	color: #00e6aF;
}


/*Pengaturan style Footer*/
#footer{
	color: #9B5151;
	width: 100%;
	height: auto;
	float: left;
	position: relative;
}

.footer-container{
	display: flex;
	width: 100%;
	height: 32px;
	background-color: #e6aF00;
	position: relative;
}

.footer-style{
	padding: 2px;
	position: relative;
	color: #9B5151;;
	background-color: #FBDD1C;
}

/*Pengaturan style untuk fungsi JS - Dropdown*/
.dropdown-btn{
	display: flex;
	cursor: pointer;
	position: relative;
	background-color: #E97878;
	padding: 4px;
	border-radius: 10px;
	width: 100%;
}

.dropdown-container{
	display: none;
	background-color: transparent; 
}

.fa-caret-down{
	float: right;
	padding-right: 8px;
}

.fa-caret-up{
	float: right;
	padding-right: 8px;
}