* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #FF15;
	cursor: pointer;
}

header{
	background-color: transparent;
}

footer{
	background-color: transparent;
}

div {
	border: thin dotted gray;
}

nav {
	height: 76px;
	font-size: 32pt;
	color: #e6aF00;
	font-style: italic;
	padding-top: 3.2px;
}

article{
	line-height: 2.1;
}

h4{
		color: black;
	}

#container{
	display: flex;

	/* properti */
/*	width: 1425px;
	height: 789px;*/
	width: auto;
	background-color: #FF15;
	border: 2px solid black;
	padding: 4px;
	border-radius: 10px;
	margin: 0 auto;
	box-sizing: border-box;
	cursor: pointer;
}

#box{
	flex-grow: 1;
 
           /* properti */
           background-color: #FBDD1C;
           margin: 5px;
           border: 2px solid black;
           border-radius: 10px;
}

.header-container{
	display: flex;
	width: 100%;
	height: 88px;
	background-color: #e6aF00;
}

.main-container{
	display: flex;
	width: 100%;
	min-height:669px;
	max-height: auto;
	background-color: #e6aF00;
}

.footer-container{
	display: flex;
	width: 100%;
	height: 32px;
	background-color: #e6aF00;
}

.header-style{
	padding: 1px;
	position: relative;
}

.main-style{
	position:relative; 
}

.content-style{
	position: relative;
	padding: 17px;
}

.interest-style{
	padding: 3.2px;
	position: relative;
	background-color: grey;
}

.skill-style{
	padding: 3.2px;
	position: relative;
	background-color: grey;
}

.contact-style{
	padding: 3.2px;
	position: relative;
	background-color: grey;
}

.preview-style{
	padding: 11px;
	position: relative;
}

.footer-style{
	padding: 2px;
	position: relative;
	color: #e6aF00;
}

@media screen  and (min-width: 1000px){
	.a{
		color: blue;
		width: 36%;
		float: left;
		text-shadow: 4px 4px 3px #77f;
	}

	.b {
		color: red;
		width: 32%;
		float: left;
		text-shadow: 4px 4px 3px #80e;
	}

	.c {
		color: gray;
		width: 32%;
		float: right;
		text-shadow: 4px 4px 3px #88d;
	}
}

/*Pengaturan Grid unuk daftar interest*/
.interest1{
	width: 26%;
}

.interest2{
	width: 26%;
}

.interest3{
	width: 26%;
}

/*Pengaturan Grid unuk daftar skill*/
.skill1{
	width: 10%;
}

.skill2{
	width: 10%;
}

.skill3{
	width: 10%;
}
.skill4{
	width: 10%;
}

.skill5{
	width: 10%;
}

.skill6{
	width: 10%;
}
.skill7{
	width: 10%;
}

.skill8{
	width: 10%;
}

/* Pengaturan grid untuk contact */

.contact1{
	line-height: 1.1;
}

.contact2{
	line-height: 1.1;
}

.contact3{
	line-height: 1.1;
}

.first-article::first-letter{
	font-size: 32px;
	font-weight: bold;
	color: saddlebrown;
}

#main{
	width: 100%;
	height: auto;
}

#content{
	width: 68%;
	height: 600px;
	float: left;
}

#preview{
	width: 32%;
	height: 600px;
	float: right;
}

#footer{
	width: 100%;
	height: auto;
	float: left;
}

#fig{
	font-family: 'Marck Script', cursive;
	font-size: 21pt;
	color: #00e6aF;
}