* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #FF15;
	cursor: pointer;
}

header{
	background-color: skyblue;
}

footer{
	background-color: skyblue;
}

div {
	border: thin dotted gray;
}

nav {
	height: 76px;
	font-size: 32pt;
	color: #e6aF00;
	font-style: italic;
}

article{
	line-height: 2.1;
}

h4{
		color: black;
	}

.header-style{
	padding: 32px;
	position: relative;
}

.main-style{
	position:relative; 
}

.content-style{
	position: relative;
	padding: 17px;
}

.preview-style{
	padding: 11px;
	position: relative;
}

.footer-style{
	padding: 11px;
	position: relative;
}

@media screen  and (min-width: 1000px){
	.a{
		color: blue;
		width: 36%;
		float: left;
		text-shadow: 4px 4px 3px #77f;
	}

	.b {
		color: red;
		width: 32%;
		float: left;
		text-shadow: 4px 4px 3px #80e;
	}

	.c {
		color: gray;
		width: 32%;
		float: right;
		text-shadow: 4px 4px 3px #88d;
	}
}

.first-article::first-letter{
	font-size: 32px;
	font-weight: bold;
	color: saddlebrown;
}

#main{
	width: 100%;
	height: auto;
}

#content{
	width: 68%;
	height: 600px;
	float: left;
}

#preview{
	width: 32%;
	height: 600px;
	float: right;
}

#footer{
	width: 100%;
	height: 43px;
	float: left;
}

#fig{
	font-family: 'Marck Script', cursive;
	font-size: 21pt;
	color: #00e6aF;
}